<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/customer/create">Create new customer</a>
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>.No</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <th:block th:each="customer,l : ${customers}">
        <tr>
            <td th:text="${l.count}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>