<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Trang tao moi</h2>
<p><a href="/blog">Quay ve trang list</a></p>
<form action="/blog/saveCreate" method="post" th:object="${blog}">
    <p>Tittle<input type="text" th:field="*{tittle}"></p>
    <p>Content<input type="text" th:field="*{content}"></p>
    <p>Authority<input type="text" th:field="*{authority}"></p>
    <p>
        <button type="submit" value="Create blog">Luu</button>
    </p>
</form>
</body>
</html>