<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Trang danh sach blog</h2>
<a href="/blog/create">Thêm mới Blog</a>
<table>
    <tr>
        <th>STT</th>
        <th>Tên tác phẩm</th>
        <th>Xóa</th>
        <th>Sửa</th>
        <th>Chi Tiết</th>
    </tr>
    <tr th:each="blog, loop : ${blogList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${blog.tittle}"></td>
        <td><a th:href="@{delete/(id=${blog.id})}">Xóa</a></td>
        <td><a th:href="@{update/(id=${blog.id})}">Sửa</a></td>
        <td><a th:href="@{detail/(id=${blog.id})}">Chi Tiết</a></td>
    </tr>
</table>
</body>
</html>