<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit book</h3>
<p>
    <a th:href="@{/book/list}">
        Back to book list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/book/order}" th:object="${order}"
          method="post" novalidate="novalidate">
        <input type="hidden"  th:value="*{id}"/>
        <input type="hidden" name="id" th:value="${book.id}"/>
        <div>
            <label>Name </label>
            <input type="text" th:value="${book.name}"/>
        </div>
        <div>
            <label>Code </label>
            <input type="text" th:field="*{code}"/>
        </div>
        <div>
            <label>Date </label>
            <input type="text" th:field="*{date}"/>
        </div>
        <input type="button" value="Cancel">
        <input type="submit" value="I'm sure borrow"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>