<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="row text-center mt-3">
  <h2 style="margin-top: 30px">Thông tin khách hàng bị xóa</h2>
</div>
<form style="margin-top: 30px; max-width: 450px" class="container-fluid shadow" [formGroup]="customerDelete" *ngIf="customerDelete"
      (ngSubmit)="deleteProduct(id)">
  <div>
    <div class="mb-2">
      Tên khách hàng
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="mb-2">
      Ngày Sinh
      <input type="date" class="form-control" formControlName="dateOfBirth" style="width: 426px">
    </div>
    <div class="mb-2">
      Số CMND
      <input type="text" class="form-control" formControlName="idCard">
    </div>
    <div class="mb-2">
      Số phone
      <input type="text" class="form-control" formControlName="phone">
    </div>
    <div class="mb-2">
      Địa chỉ
      <input type="text" class="form-control" formControlName="address">
    </div>
    <div class="mb-2">
      Email
      <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-2">
      Giới Tính
      <div style="width: 190px">
        <select style="width: 426px;height: 38px" formControlName="gender" [compareWith]="equals">
          <option [value]="customerDelete.value.gender">{{customerDelete.value.gender}}</option>
        </select>
      </div>
    </div>
    <div class="mb-2">
      Loại Khách Hàng
      <div style="width: 190px">
        <select style="width: 426px;height: 38px" formControlName="customerType" [compareWith]="equals">
          <option *ngFor="let item of customerTypeDelete" [ngValue]="item ">{{item.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Xóa</button>
    <a routerLink="">
      <button class="btn btn-primary">Cancel</button>
    </a>
  </div>
</form>
</body>
</html>
