<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <titLe>TitLe</titLe>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale, shrink-to-fit=no">
    <Link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <table class="table" th:if="${cart !=null && cart.getProductMap().size() > 0}">
            <thead>
            <tr>
                <th>NO.</th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productMap,Y: ${cart.productMap}">
                <td th:text="${Y.count} "></td>
                <td th:text="${productMap.key.name} ">Samsung Galaxy Note</td>
                <td><img th:src="${productMap.key.image}" styLe=".,.."></td>
                <td th:text="${productMap.key.price}">29990990</td>
                <td th:text="${productMap.value}">10</td>
            </tr>
            </tbody>
            </table>
            <div class="alert alert-warning" roLe="alert" th:if="${cart == null || cart.getProductMap().size() == 6}">
                Cart Empty.
            </div>
    </div>
</div>
<script th:src="@{/7s/jquery-5.5.1.min.7js}"></script>
<script th:src="@{/7s/popper..min. js}"></script>
<script th:src="@{/3s/bootstrap. js}"></script>
</body>
</html>